/* Backround Wallpaper CSS */

.background {background-color:  #000000;}

.LeftBox {float: left; border-style: solid; width: 54%; height: 960px; border-color: #976038;}

.RightBox {float: right; width: 45%; height: 960px;  border-style: solid; border-color: #976038;}

.homepagePic {width: 100%; height: 960px;}

.HeaderBox {float; top; border-style: solid; width: 100%; height: 300px; border-color: #976038;}

.HeaderText {font-family: 'Sacramento', cursive; color: #976038; font-size: 270%; text-align: center; text-decoration: underline; text-decoration-style: dotted; text-decoration-color: #A9A9A9;}

.HeaderText1 {font-family: 'Sacramento', cursive; color: #976038; font-size: 200%; text-align: center;}

/* Left Box Layout */

.MenuBox {margin: 20px 10px 10px 175px; background-image:  url('./img/pawprintwallpaper.jpg'); background-size: cover; border-style: dotted; width: 50%;  height: 10%;  border-color:#A9A9A9;}
.MenuText {font-family: 'Sacramento', cursive; color: #A9A9A9; text-shadow: 2px 2px #976038; font-size: 210%; text-align: center;}

/* Footer Box Layout */
#BottomBox {display: flex; flex-direction: row; border-style: solid; height: 150px; border-color: #000000; background-color: #D3D3D3;}


      
    /* To remove */ 



.TBox1 {flex-direction: column; margin: 30px;  border-style: solid; width: 220px;  height: 220px; border-color: #976038;}

.headerLogo {background-image:  url('/img/photo-1503256207526-0d5d80fa2f47.jpg'); background-size: cover    ; background-repeat: no-repeat; background-position: center }

    /* Menu Bar */ 

.SpaceBox {display: flex; justify-content: space-around; border-style: solid; height: 55px; border-color: #976038;}

.TBox2 {flex-direction: row; margin: 10px 10px 10px 10px; border-style: inset; width: 250px;  height: 30px; border-color:   #976038;}

    /* Middle Section - 1 */

#MiddleBox1 {display: flex; justify-content: center; border-style: solid; height: 275px; border-color: #000000;}

.MBox1 {flex-direction: row; margin: 20px 20px 20px 20px; border-style: inset; width: 220px;  height: 220px; border-color:  #976038;} 

    /* Middle Section - 2 */

#MiddleBox2 {display: flex; justify-content: center; border-style: solid; height: 275px; border-color: #000000;}

.MBox2 {flex-direction: row; margin: 20px 20px 20px 20px; border-style: inset; width: 220px;  height: 220px; border-color:  #976038;} 
    
    /* Bottom Section */
    



.BoxinBottomBox {margin: 20px 20px 20px 20px;  border-style: solid; width: 220px;  height: 30px; border-color: #000000; background-color: #ffffff;}

.Box2 {flex-direction: column; margin: 20px 20px 20px 20px;  border-style: solid; width: 220px;  height: 30px; border-color: #000000; background-color: #ffffff;}

